<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="" content="">
  <title>error</title>
  <link rel="shortcut icon" href="{{url_for('index.static',filename = 'img/favicon.ico')}}" type="image/x-icon" />
</head>
<body>
  <h1 style="font-size: 70px">Network disconnected</h1>
  <img src="{{url_for('index.static',filename = 'img/Network.png')}} "alt="Network disconnected" style="
  margin-left: 200px;
  width: 1000px;
  height: 1000px;
  " />
  <h1>Notfound error 404</h1>
</body>
</html>